p {
  margin: 10px !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}


label {
  display: block;
  float: left;
  padding-top: 2px; /*This needs to be modified to fit */
}